*{
    box-sizing: border-box;
    text-decoration: none !important;
}

.form-div{
    width: 800px;
    height: auto;
    padding: 3rem;
    background-color: #E8EDF0;
    border-radius: 1rem;
}

.form-div input{
    border-color: black;
}

.form-formik{
    background-color: white;
    background-image: url("../../public/img/credit-background.jpg");
    padding: 5rem;
}



.df-jc{
    display: flex;
    justify-content: center;
}

.df-jb{
    display: flex;
    justify-content: space-between;
}

.fc-acc{
    flex-direction: column;
    align-content: center;
}

.line-2{
    display: flex;
    justify-content: space-between;
}

.btn-submit{
    width: 6rem;
}

.btn-submit:hover{
    background-color: rgb(204, 202, 206);
    color: black;
    border-color: rgb(204, 202, 206);;
}


/* Navbar */
.top-element{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.navbar-items .item{
    display: inline-block;
    margin-left: 1rem;
    color: black;
    font-weight: 600;
}

.navbar-items .item:hover{
    transition: 0.4s;
    cursor: pointer;
    color: #1480A6;
    
}

.credit-apply-button{
    border: 1px solid white;
    color:white;
}

.credit-apply-button:hover{
    background-color: white;
    color:#1480A6;
    transition: 0.5s;
}

.application-inquire{
    background-color: rgb(220, 215, 215);
    color: black;
    transition: 0.4s;
}

.application-inquire:hover{
    background-color:#1B96B7;
    color: white;
}

/* Navbar Finish*/


/* Content */

.content-main{
    height: 35rem;
}

.slide-container{
   border-radius: 1rem;
   background-color: black;
}

.slide-container img{
    height: 22rem;
    border-radius: 1rem;
} 
.slide{
    border-radius: 1rem !important;
}

.content-s2{
    padding: 5rem;
}

.content-s2 button{
    color: black;
    border: 2px solid #1480A6;
    width: 15rem !important;
    height: 3rem;
}

.content-s2 button:hover{
    background-color: #1480A6;
    color: white;
    transition: 0.4s;
   
}


.content-s2 .row{
   display: flex;
   justify-content: space-around;
}

/* Content Finish */



/* Footer */

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #1480A6;
    color: white;
   
}

.footer ul li{
    text-decoration: none ;
}


/* Footer Finish*/

/* admin panel */

.card-button{
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

.card-button button{
    width: 10%;
}


.admin-panel-div{
    padding-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

.admin-main .card{
    width: 95%;
    margin-bottom: 2rem;
    background-color: #F7F5FB;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
    cursor: pointer;
}

.creditLimit{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
 
  
 
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .modal-window > div {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    border-radius: 1rem;
    height: auto;
  }

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

  .modal-window header {
    font-weight: bold;
  }
 

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;

}

.modal-close:hover {
    color: black;
  }